-e .
aiohttp==3.8.5
aiohttp-security==0.4.0
aiohttp-session[secure]==2.12.0
aiosqlite==0.19.0
cryptography==41.0.2
pydantic==1.10.9
pytest==7.4.0
pytest-aiohttp==1.0.4
pytest-cov==4.1.0
sqlalchemy==2.0.19
typing_extensions>=3.10; python_version<"3.10"
