aiohttp-jinja2==0.14.0
aiohttp-security==0.1.1
aiohttp-session==1.0.0
aiohttp==2.2.5
aiomysql==0.0.9
aiopg==0.13.1
coverage==4.4.1
docker-compose==1.16.1
docker-py==1.10.6
flake8==3.4.1
ipdb==0.10.3
motor==1.1
pytest-cov==2.5.1
pytest-sugar==0.9.0
pytest==3.2.2
python-dateutil==2.6.1
sqlalchemy==1.1.14
trafaret==0.12.0
pymysql==0.7.11
-r requirements-doc.txt
