-e .
aiohttp==3.8.4
aiohttp-security==0.4.0
aiohttp-session[secure]==2.12.0
aiosqlite==0.19.0
cryptography==40.0.2
pydantic==1.10.7
pytest==7.3.1
pytest-aiohttp==1.0.4
pytest-cov==4.0.0
sqlalchemy==2.0.12
typing_extensions>=3.10; python_version<"3.10"
