aiohttp-jinja2==0.8.0
aiohttp-security==0.1.0
aiohttp-session==0.5.0
aiohttp==1.0.1
aiomysql==0.0.9
aiopg==0.11.0
coverage==4.2
docker-compose==1.8.1
docker-py==1.10.3
flake8==3.0.4
ipdb==0.10.1
motor==0.6.2
pytest-cov==2.3.1
pytest-sugar==0.7.1
pytest==3.0.3
python-dateutil==2.5.3
sqlalchemy==1.1.0
trafaret==0.7.2
yarl==0.3.1
