aiohttp-jinja2==0.8.0
aiohttp-security==0.1.0
aiohttp-session==0.7.1
aiohttp==1.1.5
aiomysql==0.0.9
aiopg==0.12.0
coverage==4.2
docker-compose==1.9.0
docker-py==1.10.6
flake8==3.2.0
ipdb==0.10.1
motor==1.0
pytest-cov==2.4.0
pytest-sugar==0.7.1
pytest==3.0.4
python-dateutil==2.6.0
sqlalchemy==1.1.4
trafaret==0.7.5
yarl==0.7.1
-r requirements-doc.txt
