* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 100px 0;
  font-family: Arial;
  background: #545da9 linear-gradient(to bottom left, rgba(100, 255, 250, 0) 0%, rgba(100, 255, 250, .5) 75%, rgba(100, 255, 250, .5) 100%) fixed;
}
#error-message {
  margin: 0 auto 15px;
  width: 250px;
  border-radius: 3px;
  font-weight: 700;
  text-align: center;
  color: rgb(189, 18, 18);
}
#login-panel {
  margin: 0 auto;
  width: 300px;
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px
}

.app-title {
  text-align: center;
  color: #292d39;
}

#login-form {
  text-align: center;
}
.control-group {
  margin-bottom: 10px;
}

input {
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px;
  width: 250px;
  transition: border .5s;
}

input:focus {
  border: 2px solid #5cadd2;
  box-shadow: none;
}

button {
  border: 2px solid transparent;
  background: #5cadd2;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #588ac0;
}

/* Animation */

.animate {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}