<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>aiohttp Admin</title>
        <link rel="stylesheet" href="{{ url('admin.static', filename='ng-admin/ng-admin.min.css') }}">
        {% endblock %}
    </head>
    <body ng-app="aiohttp_admin">
        <script type="text/javascript">
        var data = window.localStorage.getItem('aiohttp_admin_token');
        if (!data) {
            window.location.href = "./admin/login";
        }
        function logout() {
            window.localStorage.removeItem('aiohttp_admin_token');
            window.location.href = "./admin/login";
        }
        </script>
        {% block body %}
        <div ui-view="ng-admin"></div>
        <script src="{{ url('admin.static', filename='ng-admin/ng-admin.min.js') }}" type="text/javascript"></script>
        <script src="{{ url('admin.config', filename='config.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
