<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {% block head %}
    <meta charset="UTF-8">
    <title>{{ name }} Admin</title>
    {% endblock %}
    <!-- main application data -->
    <script type="text/javascript">
        window.appData = {
          tokenUrl: "{{ url('admin.token') }}",
          tokenName: "aiohttp_admin_token",
          mainUrl: "{{ url('admin.index') }}",
          state: {{ initial_state|safe }},
          restUrl: "{{ url('admin.index') }}",
          logoutUrl: "{{ url('admin.logout') }}",
        };
    </script>
</head>
<body>

{% block body %}
<div id="root"></div>
<script src="{{ url('admin.static', filename='react-admin/dist/bundle.js') }}" type="text/javascript"></script>
{% endblock %}

</body>
</html>
