<!DOCTYPE html>
<html>
<head>
    <title>aiohttp admin</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{{ url('admin.static', filename='css/login.css') }}" rel="stylesheet">
    <link href="{{ url('admin.static', filename='css/ng-admin.min.css') }}" rel="prefetch">
    <link href="{{ url('admin.static', filename='js/ng-admin.min.js') }}" rel="prefetch">
    <link href="{{ url('admin.config', filename='config.js') }}" rel="prefetch">
</head>
<body>
    <div class="login-panel">
        <h1 class="app-title">Login</h1>

        <form action="/admin/token" method="post" id="login-form">
            <div class="control-group">
                <input type="text" class="login-field" placeholder="username" name="username" autofocus>
            </div>

            <div class="control-group">
                <input type="password" class="login-field" placeholder="password" name="password">
            </div>

            <button type="submit">login</button>
        </form>
    </div>

    <script src="{{ url('admin.static', filename='js/login.js') }}"></script>
</body>
</html>
