<!DOCTYPE html>
<html>
<head>
    <title>aiohttp admin</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{{ url('admin.static', filename='css/login.css') }}" rel="stylesheet">
    <link href="{{ url('admin.static', filename='ng-admin/ng-admin.min.css') }}" rel="prefetch">
    <link href="{{ url('admin.static', filename='ng-admin/ng-admin.min.js') }}" rel="prefetch">
    <link href="{{ url('admin.config', filename='config.js') }}" rel="prefetch">
</head>
<body>
    <div id="login-panel">
        <h1 class="app-title">Login</h1>

        <div id="error-message"></div>

        <form action="/admin/token" method="post" id="login-form">
            <div class="control-group">
                <input type="text" class="login-field" placeholder="username" name="username" required autofocus>
            </div>

            <div class="control-group">
                <input type="password" class="login-field" placeholder="password" name="password" required>
            </div>

            <button type="submit">login</button>
        </form>
    </div>

    <script src="{{ url('admin.static', filename='js/login.js') }}"></script>

    <style type="text/css">div.image {max-width: 256px;max-height: 256px;}</style>
</body>
</html>
